<h1>Team schedule</h1>
<table id="schedule">
  <thead>
    <tr>
      <th></th>
      <% @members.each do |member| %>
        <th><%= member.first_name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @schedule.days.each do |day| %>
      <tr>
        <th><%= day.strftime('%a, %d.%m.') %></th>
        <% @members.each do |member| %>
          <td id="<%= schedule_id(@schedule, member, day) %>" class="scheduled_hours"><%= @schedule.hours(member, day) || 0 %></td>
        <% end %>
      </tr>
      <% if day.strftime('%A').downcase == 'sunday' %>
        <tr class="total">
          <td>total</td>
          <% @members.each do |member| %>
            <td class="scheduled_hours"><%= @schedule.hours(member, day, day - 7.days) || 0 %></td>
          <% end %>
        </tr>
        <tr><td colspan="<%= 1 + @members.size %>">&nbsp;</td></tr>
      <% end %>
    <% end %>
  </tbody>
</table>