<style>
  #sprint_start_at_2i, #sprint_start_at_3i,
  #sprint_end_at_2i, #sprint_end_at_3i {
    margin-left: 0px !important;
  }
</style>

<%= f.error_messages %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :body %>
  <%= f.text_area :body, :class => 'small' %>
</p>
<p>
  <%= f.label :start_at %>
  <%= f.date_select :start_at %>
</p>
<p>
  <%= f.label :end_at %>
  <%= f.date_select :end_at %>
</p>  
