<table id="tickets">
<thead>
  <tr>
    <% unless params[:sort] == 'assigned' %>
      <th><%= link_to 'Assigned', sorted_sprint_path(:assigned) %></th>
    <% end %>
    <th><%= link_to 'URL', sorted_sprint_path(:url) %></th>
    <th><%= link_to 'Ticket', sorted_sprint_path(:ticket) %></th>
    <% if tracking  %>
      <th><%= link_to 'Hours', sorted_sprint_path(:hours) %></th>
      <th>Actual</th>
      <% @sprint.schedule.used_days.each do |day| %>
        <th><%= day.strftime('%d.%m.') %></th>
      <% end %>
    <% else %>
      <th>Hours</th>
    <% end %>
    <th></th>
  </tr>
</thead>

<% @ticket_groups.each do |user, tickets| %>
  <tbody>
    <% if user %>
    <tr class="totals">
      <th><%= user.first_name %></th>
      <th><%= link_to 'scheduled', schedule_index_path(@project) %></th>
      <th></th>
      <td class="scheduled"><%= @sprint.schedule.hours(user) %></td>
      <% @sprint.schedule.used_days.each do |day| %>
        <% if day <= Time.zone.today %>
          <td class="scheduled"><%= @sprint.schedule.hours(user, day).to_i %></td>
        <% end %>
      <% end %>
      <td></td>
    </tr>
    <% end %>
    <% tickets.each do |ticket| %>
      <tr id="ticket-<%= ticket.id %>" class="state-<%= ticket.state %>">
        <% unless params[:sort] == 'assigned' %>
          <td><%= ticket.user ? h(ticket.user.first_name) : '-' %></td>
        <% end %>
        <td class="remote-url"><%= link_to "##{ticket.remote_id}", ticket.lighthouse_url if ticket.remote_id %></td>
        <td class="ticket"><%= link_to ticket.title, edit_ticket_path(ticket, :return_to => request.url) %></td>
        <td class="estimated"><%= ticket.estimated.to_i %></td>
        <td class="actual"><%= to_hours ticket.activities.total(*@sprint.period) %></td>
        <% @sprint.schedule.used_days.each do |day| %>
          <td><%= to_hours ticket.activities.total(day) %></td>
        <% end %>
        <td class="activity-toggle"><%= toggle_ticket_activity_link(ticket) %></td>
      </tr>
    <% end %>
    <tr class="totals">
      <th colspan="<%= params[:sort] == 'assigned' ? 2 : 3 %>">
        total
      </th>
      <td class="estimated"><%= tickets.map{|t| t.estimated.to_f }.sum %></td>
      <td class="actual"><%= to_hours tickets.map{|t| t.activities.total(*@sprint.period) }.sum %></td>
      <% @sprint.schedule.used_days.each do |day| %>
        <td><%= to_hours tickets.map{|t| t.activities.total(day) }.sum %></td>
      <% end %>
      <td></td>
    </tr>
    <% if user and @ticket_groups.last.first != user %>
      <tr><td colspan="<%= 5 + @sprint.schedule.used_days.size %>">&nbsp;</td></tr>
    <% end %>
  </tbody>
<% end %>

</table>