<p>
  <%= link_to 'Projects', projects_path %> »
  <%= link_to h(@project.name), @project %> »
  <%= link_to(h(@release.name), @release) + ' »' if @release %>
  <%= h @sprint.name %>
</p>

<h1>Editing sprint</h1>

<% form_for(@sprint) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit "Update" %> or <%= link_to 'back', @sprint %>
  </p>
<% end %>