<p>
  <%= link_to 'Projects', projects_path %> »
  <%= link_to h(@project.name), @project %>
</p>

<h1>New sprint</h1>

<% form_for(@sprint) do |f| %>
  <%= f.hidden_field :project_id %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit "Create" %> or <%= link_to 'back', edit_project_path(@project) %>
  </p>
<% end %>


