<div id="breadcrumbs">
  <%= link_to 'Projects', projects_path %> »
  <%= link_to h(@project.name), @project %> »
  <%= link_to(h("Release #{@release.name}"), @release) + ' »' if @release %>
  <%= h "Sprint #{@sprint.name}" %>
</div>

<div id="action">
  <% if @sprint.start_at %>
    <%=h "#{@sprint.start_at.strftime('%A, %e.%m.')} - #{@sprint.end_at.strftime('%A, %e.%m.')}" %>
  <% else %>
    not scheduled
  <% end %>
  &middot;
  <%= link_to 'edit', edit_sprint_path(@sprint) %>  &middot;
  <%= link_to 'destroy', @sprint, :confirm => 'Are you sure?', :method => :delete %>
</div>

<%= render :partial => "tickets", :locals => {:tickets => @tickets, :tracking => true } %>

<%= render :partial => "burndown/amchart", :locals => {:burndown => @sprint.burndown} %>
