<style>
  #filter {
    clear: both;
    float: left;
    width: 100%;
    font-size: 11px !important;
    color: #999;
  }
  #filter fieldset {
    border: 0px;
    display: inline;
  }
  #filter h5 {
    display: inline;
    font-weight: bold;
    padding-right: 1em;
  }
  #filter h5 {
    margin: 1em 0 0 0;
    font-size: 11px;
  }
  #filter label {
    margin-right: 1em;
  }
  #filter input[type=checkbox] {
  }
  #filter input[type=submit] {
    float: right;
    margin-bottom: 1em;
  }
</style>

<form id="filter">
  <%= submit_tag 'update' %>  

  <fieldset>
    <h5>State</h5>
    <% Ticket.states.each do |state| %>
      <%= check_box_tag 'filter[state][]', state, @filter.active?(:state, state), :id => "filter_state_#{state}" %>
      <label for="filter_state_<%= state %>"><%= state %></label>
    <% end %>
  </fieldset>
  
  <fieldset>
    <h5>Release</h5>
    <%= check_box_tag "filter[release][]", 'any', @filter.active?(:release, 'any'), :id => "filter_release_any" %>
    <label for="filter_release_any>">any</label>
    <% @project.releases.each do |release| %>
      <%= check_box_tag "filter[release][]", release.id, @filter.active?(:release, release.id), :id => "filter_release_#{release.id}" %>
      <label for="filter_release_<%= release.id %>"><%= release.name %></label>
    <% end %>
  </fieldset>
  
  <fieldset>  
    <h5>Sprint</h5>
    <%= check_box_tag "filter[sprint][]", 'any', @filter.active?(:sprint, 'any'), :id => "filter_sprint_any" %>
    <label for="filter_sprint_any>">any</label>
    <% Sprint.all.each do |sprint| %>
      <%= check_box_tag "filter[sprint][]", sprint.id, @filter.active?(:sprint, sprint.id), :id => "filter_sprint_#{sprint.id}" %>
      <label for="filter_sprint_<%= sprint.id %>"><%= sprint.name %></label>
    <% end %>
  </fieldset>
</form>