<style>
  form#filter {
    width: 100%;
    clear: both;
    margin-bottom 1em;
    height: 24px;
    font-size: 10px;
    text-align: right;
    color: #999;
  }
  #filter h5 {
    display: inline;
    font-size: 10px;
  }
  #filter label {
    margin-right: 10px;
  }
  #filter input[type=checkbox] {
    width: 11px;
    height: 11px;
  }
  #filter input[type=submit] {
    font-size: 8px;
  }
</style>

<!-- <form id="filter">
  <h5>State:</h5>
  <%= check_box_tag 'filter[state]', 'resolved', true, :id => 'filter_state' %>
  <label for="filter_state">resolved</label>
  <h5>Releases:</h5>
  <% @project.releases.each do |release| %>
    <%= check_box_tag "filter[release]", release.id, true, :id => "filter_release_#{release.id}" %>
    <label for="filter_release_<%= release.id %>"><%= release.name %></label>
  <% end %>
  <%= check_box_tag "filter[release]", 'none', true, :id => "filter_release_none" %>
  <label for="filter_release_none>">none</label>
  <h5>Sprints:</h5>
  <% Sprint.all.each do |sprint| %>
    <%= check_box_tag "filter[sprint]", sprint.id, true, :id => "filter_sprint_#{sprint.id}" %>
    <label for="filter_sprint_<%= sprint.id %>"><%= sprint.name %></label>
  <% end %>
  <%= check_box_tag "filter[sprint]", 'none', true, :id => "filter_sprint_none" %>
  <label for="filter_sprint_none>">none</label>
  <%= submit_tag 'update' %>
</form> -->

<table id="tickets" class="project">
<thead>
  <tr>
    <th>Release</th>
    <th>Sprint</th>
    <th>Assigned</th>
    <th>Hrs</th>
    <th>URL</th>
    <th>Ticket</th>
  </tr>
</thead>
<% (@project.components.all(:order => :id) << Component.new(:name => '(no component)')).each do |component| %>
  <tbody id="component-<%= component.id %>">
    <tr>
      <th colspan="6"><%= component.name %></th>
    </tr>
    <% if (t = tickets_by_component(tickets, component)).size > 0 %>
      <% t.each do |ticket| %>
        <tr id="ticket-<%= ticket.id %>" class="state-<%= ticket.state %>">
          <td class="release"><%= ticket.release ? link_to(h(ticket.release.name), ticket.release) : '-' %></td>
          <td class="sprint"><%= ticket.sprint ? link_to(h(ticket.sprint.name), ticket.sprint)  : '-' %></td>
          <td class="assigned"><%= ticket.user ? h(ticket.user.first_name) : '-' %></td>
          <td class="estimated"><%= ticket.estimated.to_i %></td>
          <td><%= link_to "##{h ticket.remote_id}", ticket.lighthouse_url if ticket.remote_id %></td>
          <td class="ticket"><%= link_to h(ticket.title), edit_ticket_path(ticket, :return_to => request.url) %></td>
        </tr>
      <% end %>
    <% else %>
      <tr class="empty"><td colspan="6">empty</td></tr>
    <% end %>
  </tbody>
<% end %>
</table>