<div id="breadcrumbs">
  <%= link_to 'Projects', projects_path %> »
  <%= link_to h(@project.name), @project %> »
  <%= link_to(h(@release.name), @release) + ' »' if @release %>
  <%= link_to(h(@sprint.name), @sprint) + ' »' if @sprint %>
  <%= h(@ticket.title) %>
</div>

<div id="action">
  <!-- <%= link_to 'new', new_ticket_path(:ticket => {:project_id => @project.id}) %> &middot; -->
  <%= link_to 'split out child ticket', tickets_path(:ticket => @ticket.to_params.merge(:parent_id => @ticket.id)), :method => :post %> &middot;
  <%= link_to 'delete', @ticket, :method => :delete, :confirm => 'Are you sure?' %>
</div>

<h1>Editing ticket</h1>


<% form_for(@ticket) do |f| %>
  <%= hidden_field_tag :return_to, params[:return_to] %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p class="buttons">
    <%= f.submit "Update" %> or <%= link_to 'back', @project %>
  </p>
<% end %>

