<div id="breadcrumbs">
  <%= link_to 'Projects', projects_path %> »
  <%= link_to h(@project.name), @project %> »
  <%= link_to(h(@release.name), @release) + ' »' if @release %>
  <%= link_to(h(@sprint.name), @sprint) + ' »' if @sprint %>
</div>

<h1>New ticket</h1>

<% form_for(@ticket) do |f| %>
  <%= hidden_field_tag :project_id, @project.id %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit "Create" %> or <%= link_to 'back', @project %>
  </p>
<% end %>

