<%= f.error_messages %>
<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :remote_id, 'Lighthouse project id' %><br />
  <%= f.text_field :remote_id %>
</p>
<p>
  <%= f.label :lighthouse_account, 'Lighthouse account' %><br />
  <%= f.text_field :lighthouse_account %>
</p>
<p>
  <%= f.label :lighthouse_token, 'Lighthouse token' %><br />
  <%= f.text_field :lighthouse_token %>
</p>