<%= f.error_messages %>

<fieldset>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
</fieldset>

<fieldset>
  <legend>Lighthouse</legend>
  <p>
    <%= f.label :remote_id, 'Project id' %>
    <%= f.text_field :remote_id %>
  </p>
  <p>
    <%= f.label :lighthouse_account, 'Account' %>
    <%= f.text_field :lighthouse_account %>
  </p>
  <p>
    <%= f.label :lighthouse_token, 'Token' %>
    <%= f.text_field :lighthouse_token %>
  </p>
</fieldset>