<div id="breadcrumbs">
  <%= link_to 'Overview', projects_path %> »
  <%= link_to h(@project.name), @project %>
</div>

<h1>Settings</h1>

<% form_for(@project) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit "Update" %> or <%= link_to 'back', @project %>
  </p>
<% end %>

<br>
<%= render :partial => "releases/list", :locals => {:components => @project.components } %>
<br>
<%= render :partial => "components/list", :locals => {:components => @project.components } %>
<br>
<%= render :partial => "categories/list", :locals => {:categories => @project.categories } %>
<br>
<%= render :partial => "members" %>