<p>
  <%= link_to 'Overview', projects_path %> »
  <%= link_to h(@project.name), @project %> »
  <%= h(@release.name) %>
</p>

<h1>Editing release</h1>

<% form_for(@release) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit "Update" %> or <%= link_to 'back', @release %>
  </p>
<% end %>