<p>
  <%= link_to 'Projects', projects_path %> »
  <%= link_to h(@project.name), @project %> »
  <%= h(@release.name) %>
</p>

<h1>Editing release</h1>

<% form_for(@release) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit "Update" %> or <%= link_to 'back', @release %>
  </p>
<% end %>