<p>
  <%= link_to 'Projects', projects_path %> »
  <%= link_to h(@project.name), @project %>
</p>

<h1>New release</h1>

<% form_for(@release) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit "Create" %> or <%= link_to 'back', @project %>
  </p>
<% end %>