<div id="breadcrumbs">
  <%= link_to 'Overview', projects_path %> »
  <%= link_to h(@project.name), @project %> »
  <%= h "Release #{@release.name}" %>
</div>

<div id="action">
  <%= link_to 'new', new_release_path(:release => {:project_id => @project.id}) %>  &middot;
  <%= link_to 'edit', edit_release_path(@release) %>  &middot;
  <%= link_to 'destroy', @release, :confirm => 'Are you sure?', :method => :delete %>
</div>

<%= render :partial => 'tickets/filter' %>
<%= render :partial => "tickets/list", :locals => {:tickets => @tickets, :tracking => false } %>

