<ul id="activities">
<% activities.group_by(&:date).each do |date, activities| %>
  <li>
    <h4><%=h date.strftime('%A, %e.%m.') %></h4>
    <ul>
    <% activities.each do |activity| %>
      <li>
        <%=h activity.user ? activity.user.first_name : '?' %>:
        <%= link_to activity_time_in_words(activity), edit_activity_path(activity, :return_to => request.path) %> &middot;
        <%= toggle_activity_link(activity) %><br>
        <%= activity_lighthouse_link(activity) %>
        <%= activity_ticket_link(activity) %><br>
        <%= activity.text %>
      </li>
    <% end %>
    </ul>
  </li>
<% end %>
</ul>