<ul id="activities">
<% activities.group_by(&:date).each do |date, activities| %>
  <li>
    <h4><%=h date.strftime('%A, %e.%m.') %></h4>
    <ul>
    <% activities.each do |activity| %>
      <li class="<%= activity.state %>">
        <p>
          <%=h activity.user ? activity.user.first_name : '?' %>:
          <%= activity_lighthouse_link(activity) %>
          <%= activity_ticket_link(activity) %>
        </p>
        <p class="info">
          <%= activity.text ? activity.text + '<br />' : '' %>
          <%= activity.state %>: <%= activity_distance_of_state_changed_in_words(activity) %> ago
          <%= toggle_activity_link(activity) %>
          <% if activity.minutes.to_i > 0 %>
            <br>total: <%= activity_total_time_in_words(activity) %>
          <% end %>
          <%= link_to 'edit', edit_activity_path(activity, :return_to => request.request_uri) %>
        </p>
      </li>
    <% end %>
    </ul>
  </li>
<% end %>
</ul>